

<div class="container mt-5 pt-5">
  <div class="row pt-5 mt-5">
    {% paginate blog.articles by 5 %}
    {% for article in blog.articles %}
    <div class="card col-lg-3">
      <img class="card-img-top" src="{{ shop.url }}/{{ article.image | image_url: 'large' }}" alt="Card">


  
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>


        {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
        {% else %}
          <p class="card-text">{{ article.content | strip_html | truncatewords: 10 }}</p>
        {% endif %}
      

        <a class="btn btn-primary" href="{{ article.url }}">Read More</a>
      </div>
    </div>
    {% endfor %}



    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
    
    {% endpaginate %}

  </div>
</div>